<div id = "first">
    <%= image_tag("yanlucena-photo.jpg", :align=> "right", :alt => "rss feed" ) %>
</div>

<p align="left">This is some text in a paragraph.</p>

<div style="position: absolute; bottom: 100px;">
    <p aligh="left"><i class = "glyphicon glyphicon-user"></i>      Yan Lucena</p>
    <p aligh="left"><i class = "glyphicon glyphicon-map-marker"></i>        Florida, USA</p>
</div>