<div id = "first">
    <%= image_tag("yanlucena-photo.jpg", :align=> "right", :alt => "rss feed" ) %>
</div>

<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>


<p align="left">"Hey there! It's really nice to see you here. I'm Yan. A guy who loves to learn, teach and code stuff.
    When I'm not at the college or walking with my dog (wich I love), I basically spend my time studying. When I first met 
    Ruby on Rails, it was love at first sight. That's why I keep learning as much as I can. 
    I've always liked the idea of not waiting much to do things, so in spite of going to college, most things I taught myself how to do it. 
    And this is my blog, i'm going to use this environment to share with you guys what i'm doing, 
    learning or even thinking about coding.</br>
    So, go ahead and explore. Any question,
    feel free to contact me. I'll do my best to answer soon.
    And if you like me, feel free to follow my social media. The links are in the footer bellow. Go! Go! Go!"</p>



<div style="position: absolute; bottom: 100px;">
    <p><small><i class = "glyphicon glyphicon-user"></i>      Yan Lucena</p></small>
    <p><small><i class = "glyphicon glyphicon-map-marker"></i>        Florida, USA</p></small>
</div>