@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7 em;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.footer {
    position:absolute;
    bottom: 0;
    padding-top: 10px;
    padding: 20px;
    border-top: 1px solid #D0D0D0 ;
    color: #777;
    background-color: #F0F0F0;
    width: 100%;
}

li {
    display: inline-block;
    width: 100px;
    text-align: center;
  }
  
div#first img {
    float: right;
    margin: 0px -65px 10px 50px;
    border: 2px solid;
    border-radius: 60%;
    width: 43%;
    height: auto;
}

p {
    font-family: 'Poiret One', cursive;
    font-size: large;
    font-weight: bold;
    line-height: 200%;
    text-align: center;
    text-align: justify;
}
  