@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7 em;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.footer {
    margin-top: 150px;
    padding-top: 10px;
    padding: 20px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

li {
    display: inline-block;
    width: 100px;
    text-align: center;
  }