<div class "container">
    <footer class = "footer">
        <small>
            Copyright &copy; by <a href= "https://www.facebook.com/Lucena.Yan"> Yan Lucena</a>
        </small>
    </footer>
</div>