<div class "container">
    <small>
        <footer class = "footer">
            <ul class="nav navbar-nav navbar-justified">
                <li><a>Copyright &copy; by Yan Lucena</a></li>
                <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a></li>
            </ul>
        </footer>
    </small>
</div>